<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_save_before">
        <observer name="check_unique_phonenumber_observer" instance="Albatool\ValidateMobile\Observer\CheckUniquePhonenumberObserver" />
    </event>
</config>