<?xml version="1.0"?>
 
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Block\Onepage\Link">
        <plugin name="Albatool-Checkout-sidebar-block" type="Albatool\Checkout\Plugin\SidebarPlugin" sortOrder="1" />
    </type>
    <preference for="Magento\Customer\Controller\Account\LoginPost" type="Albatool\Checkout\Controller\Account\LoginPost" />
    <type name="Magento\Checkout\Block\Checkout\LayoutProcessor">
        <plugin name="checkout_layout"
                type="Albatool\Checkout\Plugin\LayoutProcessor" sortOrder="1"/>
    </type>
    <type name="Magento\Checkout\Block\Onepage">
        <arguments>
            <argument name="layoutProcessors" xsi:type="array">
                <item name="cityData" xsi:type="object">Albatool\Checkout\Block\Checkout\CityDataProcessor</item>
            </argument>
        </arguments>
    </type>
</config>