<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="invoicepdfqr" translate="label" sortOrder="10">
            <label>Invoice PDF QR</label>
        </tab>
        <section id="invoicepdfqrgen" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>General Settings</label>
            <tab>invoicepdfqr</tab>
            <resource>Invoicepdfqr_Invoicepdfqrgen::invoicepdfqrgen_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="invoicepdfqrsellername" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Sellers Name</label>
                </field>
                <field id="invoicepdfqrvatnumber" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Vat Registration Number</label>
                </field>
                <field id="status" translate="label comment" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Order Status</label>
                    <source_model>Magento\Sales\Model\Config\Source\Order\Status</source_model>
                </field>
                <field id="send_invoice_pdf" translate="Email Template" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Order Complete Invoice PDF Send</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
            </group>
        </section>
    </system>
</config>