<!-- input field element and corresponding bindings -->
<!-- <div class="iti__flag-container">
    <div class="iti__selected-flag" role="combobox" aria-controls="iti-0__country-listbox" aria-owns="iti-0__country-listbox" aria-expanded="false" tabindex="0" title="Saudi Arabia (&#x202B;المملكة العربية السعودية&#x202C;&lrm;): +966" aria-activedescendant="iti-0__item-sa">
       <div class="iti__flag iti__sa"></div>
       <div class="iti__selected-dial-code">+966</div>
       <div class="iti__arrow"></div>
    </div>
       <ul class="iti__country-list iti__hide" id="iti-0__country-listbox" role="listbox" aria-label="List of countries">
          <li class="iti__country iti__standard iti__active" tabindex="-1" id="iti-0__item-sa" role="option" data-dial-code="966" data-country-code="sa" aria-selected="true">
             <div class="iti__flag-box">
                <div class="iti__flag iti__sa"></div>
             </div>
             <span class="iti__country-name">Saudi Arabia (&#x202B;المملكة العربية السعودية&#x202C;&lrm;)</span><span class="iti__dial-code">+966</span>
          </li>
       </ul>
</div> -->

<input class="input-text" type="text" data-bind="
    value: value,
    valueUpdate: 'keyup',
    hasFocus: focused,
    attr: {
        name: inputName,
        placeholder: placeholder,
        'aria-describedby': noticeId,
        id: uid,
        disabled: disabled
    }" />