<?xml version="1.0"?>
 <config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
  <preference for="Magento\Inventory\Model\SourceItem\Validator\SourceItemsValidator" type="Albatool\CronOrder\Model\Rewrite\SourceItem\Validator\SourceItemsValidator" />
 </config>