<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="emi_options" translate="label" sortOrder="150">
            <label>Emi Options</label>
        </tab>
        <section id="emi_control" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>EMI Control</label>
            <tab>emi_options</tab>
            <resource>Ambab_EmiCalculator::emicalculator_config</resource>
            <group id="module_control" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
