<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
<event name="sales_order_place_after">
	<observer name="custom_sales_order_place_after" instance="Albatool\StorePickupOrder\Observer\OrderObserver" />
</event>
<event name="controller_action_postdispatch_checkout_cart_add">
    <observer name="updatemessage" instance="Albatool\StorePickupOrder\Observer\UpdateMessage" />
</event>
</config>