<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <emi_control>
            <module_control>
                <enable>1</enable>
            </module_control>
        </emi_control>
    </default>
</config>
