<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
        <add id="Albatool_SkinQuiz::parent" title="SkinQuiz" module="Albatool_SkinQuiz" sortOrder="100" resource="Albatool_SkinQuiz::parent"/>
		<add id="Albatool_SkinQuiz::skinquiz" title="SkinQuiz Skinquiz" module="Albatool_SkinQuiz" sortOrder="20" parent="Albatool_SkinQuiz::parent" action="skinquiz/skinquiz" resource="Albatool_SkinQuiz::skinquiz"/>

    </menu>
</config>