<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="albatool_checkout" translate="label" sortOrder="500">
            <label>Albatool Checkout</label>
        </tab>
		<section id="albatool_checkout" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Checkout Configuration</label>
            <tab>albatool_checkout</tab>
			<resource>RDewan_OrderExport::menu</resource>
            <group id="module" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Configuration</label>
                <!--<field id="enable_module" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>-->
				<field id="google_api_key" type="obscure" translate="label comment" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Google Api Key</label>
					<comment><![CDATA[You should register a new key. Get Api key <a href="https://developers.google.com/maps/documentation/javascript/get-api-key" target="_blank">here</a>]]></comment>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <validate>required-entry</validate>
                </field>
				<field id="call_static_block_customer" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Enter Static Block ID For Customer</label>
				</field>
				<field id="call_static_block_guest" translate="label" type="text" sortOrder="45" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Enter Static Block ID For Guest</label>
				</field>

                <field id="enable_pickup" translate="label" type="select" showInDefault="1" canRestore="1">
                    <label>Enable Pickup From Store</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
		</section>
    </system>
</config>